@import '../../assets/styles/global.scss';

.resume {
  gap: 1.5rem;
  justify-content: center;
  margin: 3rem 2rem 0;

  .resume__items  {
    flex: 1;
    font-weight: bold;
    justify-content: space-between;

    &-created {
      color: $color-blue;
    }

    &-done {
      color: $color-purple;
    }

    .total-counter {
      background-color: $color-gray-400;
      border-radius: 999px;
      color: $color-gray-100;
      font-size: .75rem;
      margin-left: .5rem;
      padding: .125rem .5rem;
    }
  }
}